{% if itens_estoque %}
<div class="table-responsive">
    <table id="tabela-principal" class="table table-hover w-100">
        <thead class="bg-info text-white">
            <tr>
                <th>Data</th>
                <th>Item</th>
                <th>Usuário (Dono)</th>
                <th>Categoria</th>
                <th>Qtd</th>
                <th class="no-sort">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens_estoque %}
            {% with filho=item.item_usuario %}
            <tr>
                <td>{{ item.data_cadastro|date:"d/m/Y" }}</td>
                <td class="fw-bold">{{ filho.nome }}</td>
                <td><i class="fas fa-user me-1"></i> {{ filho.usuario.username }}</td>
                <td>{{ filho.categoria.nome_categoria|default:"-" }}</td>
                <td>{{ filho.quantidade|floatformat:0 }}</td> 
                <td>
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-outline-info btn-editar-item-usuario" data-id="{{ item.id }}" title="Editar">
                            <i class="fas fa-edit"></i>
                        </button>

                        <button class="btn btn-outline-warning btn-dar-baixa" 
                                data-id="{{ item.id }}" 
                                title="Consumir / Dar Baixa">
                            <i class="fas fa-box-open"></i>
                        </button>

                        <button class="btn btn-outline-danger btn-excluir-item" 
                                data-id="{{ item.id }}" 
                                title="Excluir Definitivamente">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="alert alert-light text-center m-3">Nenhum item pessoal encontrado.</div>
{% endif %}